body{
  background-color: black;
}
header{
  font-size: 76px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:#14FF64
}
article {
  font-size: 45px;
  text-align: center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:#14FF64
}
section ul {
  list-style: none;
  position: absolute;
  left:175px;
  width: 800px;
  border: solid 3px #14FF64;
}

section ul li{
  display: inline;

}
#image_container{

}
