body{
  background-color: black;
}
header{
  font-size: 76px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:#14FF64
}
article {
  font-size: 45px;
  text-align: center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:#14FF64
}
section{
  width:800px;
  margin: 0 auto;
}
#chart-button{
  display: none;
}
/*section ul {
  list-style: none;
  position: absolute;
  left:175px;
  width: 800px;
  height:300px;
  border: solid 3px #14FF64;
}

section ul li{
  display: inline;
}
section ul li img {
  border: 3px solid #14FF64;
}*/
